export(sjc.cluster)
export(sjc.dend)
export(sjc.elbow)
export(sjc.grpdisc)
export(sjc.kgap)
export(sjc.qclus)
export(sji.SPSS)
export(sji.convertToLabel)
export(sji.convertToValue)
export(sji.getValueLabels)
export(sji.getVariableLabels)
export(sjp.aov1)
export(sjp.chi2)
export(sjp.corr)
export(sjp.frq)
export(sjp.glm)
export(sjp.glm.ma)
export(sjp.glmm)
export(sjp.grpfrq)
export(sjp.likert)
export(sjp.lm)
export(sjp.lm.int)
export(sjp.lm.ma)
export(sjp.lm1)
export(sjp.lmm)
export(sjp.pca)
export(sjp.reglin)
export(sjp.scatter)
export(sjp.stackfrq)
export(sjp.vif)
export(sjp.xtab)
export(sjt.df)
export(sjt.frq)
export(sjt.glm)
export(sjt.lm)
export(sjt.xtab)
export(sju.adjustPlotRange.y)
export(sju.aov1.levene)
export(sju.betaCoef)
export(sju.dicho)
export(sju.groupVar)
export(sju.groupVarLabels)
export(sju.modsum.lm)
export(sju.recodeTo)
export(sju.setNA)
export(sju.wordwrap)
import(ggplot2)
importFrom(MASS,lda)
importFrom(MASS,loglm)
importFrom(car,crPlots)
importFrom(car,durbinWatsonTest)
importFrom(car,influencePlot)
importFrom(car,leveragePlots)
importFrom(car,ncvTest)
importFrom(car,outlierTest)
importFrom(car,spreadLevelPlot)
importFrom(car,vif)
importFrom(foreign,read.spss)
importFrom(lmtest,bptest)
importFrom(plyr,adply)
importFrom(plyr,ddply)
importFrom(reshape2,melt)
importFrom(scales,brewer_pal)
importFrom(scales,percent)
